body { 
    background-image: url('../images/light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1 {
	font-family: "calibri" ; 
	font-style: "normal"; 
	font-weight: 400; 
	font-size: 50px;
	text-align: center;
}
h1.bold {
	font-style: "bold";
	font-weight: bold;
}

h2 {
	font-family: "calibri" ; 
	font-style: "normal"; 
	font-weight: 400; 
	font-size: 50px; 
	text-align: center;
	padding-bottom: 0px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-family: "calibri" ; 
	font-style: "normal"; 
	font-weight: 400; 
	font-size: 20px; 
	text-align: center;
	padding-bottom: 0px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}



p { 
	font-family: "calibri" ; 
	font-style: "normal"; 
	font-weight: 400; 
	font-size: 24px; 
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
}

p.sub {
	font-family: "calibri" ; 
	font-style: italic; 
	font-weight: 400; 
	font-size: 20px; 
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;


}

p.line {
	font-family: "calibri" ; 
	font-style: "normal"; 
	font-weight: 400; 
	font-size: 10px; 
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;

}

img {
	height: 200px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
img.cover {

	width:  300px;
	height: 300px;

}

img.tiny{
	height: 150px;
}

a { color: #000000; text-decoration: none; border-bottom: 1px solid #000000; }

.game{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 2px outset #000000; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px outset #000000; /* Firefox */
    column-rule: 2px outset #000000;
}



